<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user login</title>
</head>
<body>
    <p>user login </p>

    <form action="/user_login" method="Post">
        <label for="email">email</label>
        <input type="text" name="email" id="email" required>

        <label for="password">password</label>
        <input type="password" name="password" id="password" required><br><br>

        

        <button type="submit">login</button>
    </form>
    <p>Don't have an account? <a href ="/user_sign">create account!</a></p>
</body>
</html>